html,body{
    margin: 0;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    color: #432000;
}

section {
    display: flex;
    max-width: 400px;
    margin: 30px auto;
}

.logged-in-view{
    user-select: none;
}

#google-sign-in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    margin-top: 40%;
    color: #AC485A;
    background-color: white;
    font-weight: bold;
    border: 1px solid #AC485A;
}

.google-logo{
    margin: 0;
    width: 1.375em;
}

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px auto;
    padding: 10px;
}

.container p {
    text-align: center;
    font-weight: 600;
    color: #AC485A;
    margin: 0;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon-btn{
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 15px;
    margin: 0;
}
.icon-btn:hover{
    background-color: white;
}

.icon-btn img{
    width: 20px;
}

img{
    width: 200px;
    margin: 0 auto;
}

input{
    color: #432000;
    background-color: #DCE1EB;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}

button{
    color: #FDFDFD;
    background-color: #AC485A;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}
button:hover{
    background-color: #432000;
    cursor: pointer;
}
 
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li{
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
}

ul li:hover{
    background-color: #FFECC7;
}